import(methods, Formula, Zelig, jsonlite, dplyr, eiPack, ei, MCMCpack)

importFrom("MASS", "mvrnorm")

importFrom("stats", "runif", "as.formula")

importFrom("methods", "setRefClass")
importFrom("methods", "new")

exportPattern("^[[:alpha:]]+")

exportClasses(
     "Zelig-ei",
     "Zelig-eirxc",
     "Zelig-eiml",
     "Zelig-eidynamic",
     "Zelig-eihier"
)
